+StateModifier align='[.5,.5]' origin='[.5,.5]'
  +BkImageSurface sizemode='ASPECTFILL' positionmode='BOTTOM' content='/big_apple.jpg'
    |  
  +Surface size='[undefined, true]' align='[.5,.2]' origin='[.5,.5]' translate='[0,0,10]'
    .text-center
      h1 Market Analysis
      p: i.fa.fa-4x.fa-area-chart
