head
  title Market Analysis
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
body

template(name='layout')
  +famousContext id='mainCtx'
    +sideMenu
    +StateModifier align='[.5,.5]' origin='[.5,.5]' size=main
      +HeaderFooterLayout headerSize='50' footerSize='0'
        +StateModifier align='[.5,.5]' origin='[.5,.5]' target='header' translate='[0, 0, 100]'
            +menu
        +RenderController target='content'
          +yield
