template(name='RwdSimpleMenuLogo')
  p: i.fa.fa-area-chart

template(name='RwdSimpleMenuHamburgerOn')
  p: i.fa.fa-toggle-on

template(name='RwdSimpleMenuHamburgerOff')
  p: i.fa.fa-toggle-off

template(name='RwdSimpleMenuSideMenuLabel')
  p
    i= icon
    |= label
