template(name='menu')
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button')
          i.fa.fa-bars
        a.navbar-brand(href='/'): i.fa.fa-area-chart
      #navbarCollapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          +each items
            li(class=act): a(href=rt): i.fa(class=ic)= lbl
    
