template(name='menu')
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
          i.fa.fa-bars
        a.navbar-brand(href='#'): i.fa.fa-home
      #navbarCollapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active: a(href='signin'): i.fa.fa-sign-in  Sign in
    
