template(name='menu')
  nav.navbar.navbar-inverted(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
        i.fa.fa-bars
